.container {
  width: 500px;
  margin: 0 auto;
}

#list-item-input {
  width: 300px;
}

.list-item {
  border: 1px solid grey;
  border-radius: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
}

.list-item:hover {
  cursor: pointer;
}

.list-item.selected {
  background-color: lightsalmon;

  box-shadow: 0 12px 24px -8px rgb(0 0 0 / 20%);
  border-color: black;
  transform: scale(1.2);
}
