@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@200;300;500;700&display=swap");

body {
  font-family: "Barlow Condensed", sans-serif;
}

h2,
h3 {
  margin-top: 0;
}

h2 {
  font-weight: 200;
  font-size: 36px;
  margin-bottom: 6px;
}

h3 {
  font-weight: 900;
}

.text-truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}

.container {
  max-width: 960px;
  margin-inline: auto;
  text-align: center;
  padding-block: 3rem;
}

.card {
  border: 2px solid #ebebeb;
  background-color: white;
  display: inline-block;
  max-width: 300px;
  border-radius: 6px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 6px 12px -6px rgb(0 0 0 / 20%);
  transition: all 0.15s;
  max-width: 250px;
  margin-bottom: 1rem;
}

.card-image {
  width: 100%;
  height: auto;
  aspect-ratio: 1/1;
}

.card-body {
  padding: 1rem;
}

.card-body .icon {
  margin-top: 12px;
}

.card-body .song {
  margin-bottom: 0;
  margin-top: 0;
  letter-spacing: 0.6px;
  line-height: 1.6;
}

.card-body .song .list {
  color: #555555;
}

.card-body .time {
  margin-top: 24px;
  letter-spacing: 0.6px;
}

.card-body .time .badge {
  padding: 0.25rem;
  background-color: #111111;
  border-radius: 3px;
  color: white;
  font-size: 0.8rem;
}

.card:hover {
  box-shadow: 0 12px 24px -8px rgb(0 0 0 / 20%);
  border-color: black;
  transform: scale(1.1);
}
